.feed {
  flex: 0.4;
  border-right: solid 1px var(--main-background);
  min-width: fit-content;
  overflow-y: scroll;
}

/* Hide the scrollbar for Chrome and Safari. */
.feed::-webkit-scrollbar {
  display: none;
}

/* Hide the scrollbar for Edge and Firefox. */
.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.feed__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: solid 1px var(--main-background);
  padding: 15px 20px;
}

.feed__header > h2 {
  font-size: 20px;
  font-weight: 800;
}